div {
    background-color:#f8913c;
    width: 100px;
    height: 100px;
    padding:15px 20px;
}
div:hover {
    width: 200px;
    height:200px;
    transition: all .5s;
    transition-delay:.5s;
    cursor: pointer;
}
