html, body {
    height: 100%;
}

body {
    background-image:linear-gradient(#f6b03ec5, #f10a0a41), url("../img/praia.png");
    background-size:100% 80%;
    background-repeat: no-repeat;
    height: 600px;
    width:500px;
    padding: 35px 15px;
    text-transform: capitalize; 
    font-size: 25px;

}

.radius {
    background-image: linear-gradient(#ff8800, rgb(241, 187, 11), rgba(243, 50, 50, 0.5));
    width: 200px;
    height: 200px;
    margin: 50px;
    border-radius: 100px;
    box-shadow: 10px 5px 10px 3px #00000046;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    padding: 20px 15px;
    text-shadow: -1px 1px 0px #6e6c6c, -2px 2px 0px #929292, -3px 3px 0px #a09c9c, -4px 4px 0px #b8b5b5, -5px 5px 0px #e6e6e6;
}